* { 
 	margin: 0; padding: 0; box-sizing: border-box; 
}
body {
	background-image: url(
		"https://mariefreitagphotography.files.wordpress.com/2015/03/maylands-jetty-lightning1.jpg"
		);
	background-size: 100%;
}
form {
	background: linear-gradient(black, #717171);
	padding: 3px;
	bottom: 0;
	width: 100%;
}
h1 {
	background-color:rgba(0, 0, 0, 0.5);
	margin-bottom: 0;
	color: white;
	text-align: center;
}
form input { 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
}
form button { 
	width: 9%; 
	background: linear-gradient(#5AE3F2, #3FA1AB); 
	border: none; 
	padding: 10px; 
}
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#messages li { 
	padding: 5px 10px; 
	background: #08003F;
}
#messages li:nth-child(odd) { 
	background: #1400A5; 
}
.chatroom {
	color:white;
	margin:0;
	padding:0;
	/*border: 1px solid blue;*/
	width: 100%;
	height: 35em;
}
.screen {
	margin:0;
	padding:0;
	/*border:1px solid red;*/
	width: 80%;
	height:80%;
	overflow-y: auto;
	float: left;
}
.users {
	border:3px solid gray;
	float:left;
	height:80%;
	width:20%;
	background-color: white;
}
ul {
	list-style: none;
}
.users li {
	color:black;
}
.users li:nth-child(odd) {
	background-color: #A0A0A0;
}
.navbar > ul > li > a > #userdisplay:link {
	color: white !important;
}
h1#title {
	text-align: center;
	color:white;
}
input#m {
	color:black;
}
.about {
	text-align: center;
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
}
