* { 
 	margin: 0; padding: 0; box-sizing: border-box; 
}
body {
	background-image: url(
		"../assets/lightning.jpg"
		);
	background-size: 100%;
	font-family: 'Old Standard TT', serif;
}
form {
	background: linear-gradient(black, #717171);
	padding: 3px;
	bottom: 0;
	width: 100%;
}
h1 {
	background-color:rgba(0, 0, 0, 0.5);
	margin-top: 2%;
	color: white;
	text-align: center;
}
form input { 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
}
form button { 
	width: 9%; 
	background: linear-gradient(#5AE3F2, #3FA1AB); 
	border: none; 
	padding: 10px; 
}
#chattitle {
	margin-bottom: 0;
}
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
#messages li { 
	padding: 5px 10px; 
	background: #08003F;
}
#messages li:nth-child(odd) { 
	background: #1400A5; 
}
.chatroom {
	color:white;
	margin:0;
	padding:0;
	/*border: 1px solid blue;*/
	width: 100%;
	height: 35em;
}
.screen {
	margin:0;
	padding:0;
	/*border:1px solid red;*/
	width: 80%;
	height:80%;
	overflow-y: auto;
	float: left;
}
.users {
	border:3px solid gray;
	float:left;
	height:80%;
	width:20%;
	overflow-y: auto;
	background-color: white;
}
ul {
	list-style: none;
}
.users li {
	color:black;
}
.users li:nth-child(odd) {
	background-color: #A0A0A0;
}
.navbar > ul > li > a > #userdisplay:link {
	color: white !important;
}
h1#title {
	text-align: center;
	color:white;
}
input#m {
	color:black;
}
.about {
	text-align: center;
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
}
nav {
	background-color:rgba(0, 0, 0, 0.5);
}
.headshot {
	width:341px;
	height: 227px;
	margin-right: 50%;
	margin-left: 35%;
	border-radius: 50%;
}

/*FADE IN FUNCTIONALITY*/
#userlist li {
 	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
 	-moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
 	-o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
#chatroom div {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
